@import url(../../index.css);

.container-botao {
    width: 100vw;

    .box-btn {
        width: 100%;
        padding: 10px;

        .box-fieldset {
            border-color: var(--color-30);
            box-shadow: 2px 2px 1px #000;

            legend {
                margin-left: 20px;
                font-family: var(--font);
                font-size: .9em;
                font-weight: 500;
            }

            label {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px;

                input[type="text"] {
                    width: 130px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    border: 1.5px solid var(--color-30);
                    text-indent: 0.3rem;
                    font-size: 1em;
                    font-family: var(--font);
                    font-weight: 500;
                }

                input[type="text"]:hover, input[type="text"]:hover:active,  input[type="text"]:focus {
                    outline: none;
                    border: 1.5px solid var(--color);
                    
                }
        
                input[type="number"] {
                    width: 100px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    border: 1.5px solid var(--color-30);
                    text-indent: 0.3rem;
                    font-size: 1em;
                    font-family: var(--font);
                    font-weight: 500;
                       
                }

                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0; 
                }

                input[type="number"]:hover, input[type="number"]:hover:active,  input[type="number"]:focus {
                    outline: none;
                    border: 1.5px solid var(--color); 
                }

            }

            .add-more{
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 0 5px 0;



                .icon-plus {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    border-radius: 50%;
                    color: var(--color);
                    background-color: var(--color-30);
                }
            }

        }
        
    }
}