@import url(../../index.css);
.container-input-mobile {
    width: 100%; 
}


.box-input-mobile {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}

.box-fieldset {
    border-color: var(--color-third);
    box-shadow: 2px 2px 1px var(--color-second);
    width: calc(100vw - 20px);
    background: var(--background-fieldset);
}


.legend {
    margin-left: 20px;
    font-family: var(--font);
    color: var(--color-third);
    font-size: var(--paragraph);
    font-weight: 500;
}

.label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 5px;

}


.input[type="text"] {
    width: 45%;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color-third);
    text-indent: 0.3rem;
    font-size: var(--paragraph);
    font-family: var(--font);
    font-weight: 500;
    background-color: var(--background);
}

.input[type="text"]:hover, 
.input[type="text"]:active, 
.input[type="text"]:focus {
    outline: none;
    border: 1.5px solid var(--color-second);
    background-color: var(--background-hover);
    
}

.input-number {
    width: 35%;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color-third);
    text-indent: 0.3rem;
    font-size: var(--paragraph);
    font-family: var(--font);
    font-weight: 500;
    background-color: var(--background);
       
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.input-number:hover, 
.input-number:active, 
.input-number:focus {
    outline: none;
    border: 1.5px solid var(--color-second); 
    background-color: var(--background-hover);
}


.box-icon-input-mobile {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-minus {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--color-second);
    color: var(--color-white);
    font-size: var(--icon);
}

.icon-minus:hover {
    background-color: var(--color-third);
    color: var( --color-second);
}


.add-more-mobile {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.icon-plus {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 7px;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-second);
    font-size: var(--icon);
    margin-left: -10px;
}

.icon-plus:hover {    
    color: var(--color-second);
    background-color: var(--color-third);
}