@import url(../src/index.css);

.container-screen-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info-mobile {
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.title-mobile {
    color: var(--color-third);
    text-shadow: 0.5px .5px 0.5px var(--color-second);
    font-family: var(--font);
    font-size: var(--title);
    padding: 0 5px;
}

.span-mobile {
    color: var(--color-first);
    font-weight: 700;
    font-family: var(--font);
    line-height: 40px;
    font-size: var(--paragraph);

}

.box-icone-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    height: 200px;

}


.ico-mobile {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--color-second);
    color: var( --color-white);
    font-size: var(--icon);

}

.ico-mobile:hover {
    background-color: var(--color-third);
    color: var( --color-second);
}