* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: "Montserrat", sans-serif;
  --color-first: #772583;
  --color-second: #300F36;
  --color-third: #AB35BE;
  --color-black: #000;
  --color-white: #FFF;
  --background: #f1f1f1;
  --background-hover: #ffffff0d;
  --background-fieldset: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 

  --title: 1.2em;
  --paragraph: 1.125em;
  --icon: 1.4em
}

html {
  background-color: var(--color-second);
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-fieldset);
  
  width: 100vw;
  user-select: none;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (min-width: 768px) {

  html {
    background-color: var(--color-second);
    scrollbar-width: none;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
}